body {
  background: url("https://images.unsplash.com/photo-1475274047050-1d0c0975c63e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2252&q=80") round;
  object-fit: cover;
  color: #fff;
  margin: 0;
  font-family: monospace, sans-serif, serif;
  text-align: center;
}

/* TYPOGRAPHY */
h1,
h2 {
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  color: coral;
}

.sub-title {
  color: #639fd1;
  font-style: italic;
  font-size: 1.5rem;
}

h2 {
  color: #96c8ff;
  color: coral;
  font-size: 1.25rem;
  margin: 0 auto;
}

p {
  margin: 0;
}

#img-div {
  width: 90%;
}

#img-caption {
  position: absolute;
  bottom: 2%;
  right: 0;
  margin: 0;
  padding: 2px 5px;
  font-size: 1rem;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}

ul {
  padding-left: 0;
}

ul .bold-text {
  font-weight: bold;
  font-size: 1.25rem;
}

#tribute-info li {
  font-size: 1rem;
  list-style: none;
  padding: 10px 0 10px;
}

/* STYLES */
#main {
  max-width: 750px;
  width: 85%;
  margin: 1rem auto;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.2);
}

.timeline {
  text-align: left;
}

header {
  padding: 10px 0 20px;
}

#img-div {
  padding: 20px 0 29px;
  max-width: 640px;
  margin: 0 auto;
}

#image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 2px;
  transition: box-shadow 0.3s ease-out;
}

#tribute-info {
  border-top: 2px solid #639fd1;
  border-bottom: 2px solid #639fd1;
  width: 90%;
  padding: 1em 0;
  margin: 0 auto;
}

#tribute-link {
  text-align: center;
  margin: 1em 0 0;
  padding: 0.25em 0.75em;
  font-size: 1rem;
  color: coral;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid coral;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  transition: transform, color 0.1s ease-out, font-weight, background-color, border 0.2s ease-out;
}

#tribute-link:hover,
#tribute-link:focus {
  transform: scale(1.05);
  color: white;
  background-color: black;
  border: 2px solid white;
}

/* CAROUSEL */
.carousel {
  position: relative;
}

.carousel-item,
.carousel-item-hidden {
  display: none;
}

.carousel-item-visible {
  position: relative;
  display: block;
  animation: smoothTransition 0.5s;
}

.action-btn {
  position: absolute;
  padding: 8px 14px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: 2px solid white;
  font-size: 25px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform, color 0.1s ease-out, font-weight, background-color, border 0.2s ease-out;
}

.action-btn:hover,
.action-btn:focus {
  color: coral;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid coral;
}

#carousel-button-prev {
  top: 43%;
  left: 2%;
}

#carousel-button-next {
  top: 43%;
  right: 2%;
}

/* ANIMATIONS */
@keyframes smoothTransition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.author-info {
  display: flex;
  justify-content: space-between;
}

.author-info p {
  padding: 1em 1.5em;
}

.author-info a {
  text-decoration: none;
  color: red;
}

.author-info a:hover,
.author-info a:focus {
  text-decoration: underline;
}

@media (max-width: 330px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.25rem;
  }

  .sub-title {
    font-size: 1rem;
  }

  p {
    font-size: 0.7rem;
  }

  #img-caption {
    font-size: 0.5rem;
  }

  ul .bold-text {
    font-size: 1rem;
  }

  #tribute-info li {
    font-size: 0.9rem;
  }
}
@media (min-width: 331px) and (max-width: 450px) {
  p {
    font-size: 0.9rem;
  }

  #img-caption {
    font-size: 0.75rem;
  }
}